{
  "branches": [
    "main",
    "dev"
  ],
  "verifyConditions": [
    "@semantic-release/changelog",
    "@semantic-release/git",
    "@semantic-release/github"
  ],
  "getLastRelease": "@semantic-release/git",
  "prepare": [
    "@semantic-release/changelog",
    {
      "path": "@semantic-release/npm",
      "npmPublish": false
    },
    {
      "path": "@semantic-release/git",
      "assets": [
        "CHANGELOG.md",
        "package.json",
        "pnpm-lock.yaml"
      ],
      "message": "chore(release): v${nextRelease.version} - <%= new Date().toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric', hour: 'numeric', minute: 'numeric'}) %> [skip ci]"
    }
  ],
  "publish": [
    "@semantic-release/github"
  ]
}
